services:
  backend:
    build: .
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - FIREBASE_ADMIN_CREDENTIALS=/app/secrets/firebase-credentials.json
      - FIREBASE_API_KEY=${FIREBASE_API_KEY}
    env_file:
      - .env
    volumes:
      - ./src/auth/auth-key-for-test.json:/app/secrets/firebase-credentials.json
    restart: unless-stopped
